﻿<div class="row">
    <div class=col-md-4>
        <span><button mat-button class="pull-left"><mat-icon>thumb_up</mat-icon><span> Like</span></button></span>  
    </div>
    <div class="col-md-2 text-center">
        <span><button mat-button><mat-icon>comment</mat-icon><span> Comment</span></button></span>
    </div>
    <div class="pull-right">
        <span ><button mat-button><mat-icon>share</mat-icon><span>Share</span></button></span>
    </div>
</div>