<app-nav-menu></app-nav-menu>
<mat-toolbar color="primary" >        
    <button [routerLink]='["/home"]' mat-button> Dashboard</button>
</mat-toolbar>
<div class='container-fluid' style="background-color:#d3d3d3">
    <router-outlet></router-outlet>
</div>
<footer class="navbar-default navbar-bottom">
    <app-nav-footer></app-nav-footer>
</footer>
