@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
.layout{
    margin: 50px;
}
.bg{
  background-color: #d3d3d3;
}