<mat-card >
    <mat-card-header>
        <mat-card-title>
                <span>Company Profile</span>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="pad-10">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" value="{{companyName}}">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="About"></textarea>
                </mat-form-field>
              </form>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div class="row">
            <button mat-button class="pull-right"><mat-icon>mode_edit</mat-icon><span>Edit</span></button>
        </div> 
    </mat-card-actions>
</mat-card>
