.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .pad-20{
    padding: 20px;
}
.pad-10 {
    padding: 10px;

}
.mar {
    margin-left: 10px;
    margin-top: 20px;
}