        <div class="row pad-20">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <mat-card class="dashboard-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Vendors</mat-card-title>
                            <mat-card-subtitle>Top 5 vendors</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>person</mat-icon>
                                    <h4 mat-line>John</h4>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>person</mat-icon>
                                    <h4 mat-line>Dan</h4>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>person</mat-icon>
                                    <h4 mat-line>Brad</h4>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <app-card-action-bar></app-card-action-bar>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card class="dashboard-card">
                        <mat-card-content>
                            <app-profit-pie-chart></app-profit-pie-chart>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <app-card-action-bar></app-card-action-bar>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-2"></div>
        </div>
        <div class="row pad-20">
                <div class="col-md-2"></div>
                    <div class="col-md-4">
                            <mat-card class="dashboard-card">
                                <mat-card-content>
                                    <app-sales-bar-chart></app-sales-bar-chart>
                                </mat-card-content>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <app-card-action-bar></app-card-action-bar>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    <div class="col-md-4">
                        <app-company-card></app-company-card>
                    </div>
                <div class="col-md-2"></div>        
        </div>
        <div class="row pad-20">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <mat-card class="dashboard-card">
                        <mat-card-header>
                            <mat-card-title>Pending Purchase Orders</mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <app-company class="pad-10"></app-company>
                        </mat-card-content>
                    </mat-card>
                </div>
            <div class="col-md-2"></div>
        </div>
           