﻿.dashboard-card {
    min-width: auto;
    min-height: auto;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover
}
.pad-20{
    padding: 20px;
}
.pad-10 {
    padding: 10px;

}
.mar {
    margin-left: 10px;
    margin-top: 20px;
}

 

