.example-icon {
    padding: 0 14px
}

.extra-spacer {
    flex: 1 1 auto
}
.app-user{
    font-size: 14px;
    margin-left: 15px;
    margin-top: 1px;
}
.mr-10{
    margin-right: 10px;
}
.notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;
}

.notification-counter {   
    position: absolute;
    top: -2px;
    left: 12px;
    
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    width: 4%;
    height: 50px;
}
.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover
}
.logo{
    padding-top: 10px;
    width: 130px;
}

