<mat-toolbar color="primary" >
    <mat-toolbar-row class="card-5  bar">
        <button mat-button [matMenuTriggerFor]="accountMenu"><mat-icon>menu</mat-icon></button>
        <mat-menu #accountMenu="matMenu" [overlapTrigger]="false">
            <button [routerLink]='["/inventory"]' mat-menu-item>Inventory</button>
            <button mat-menu-item>Purchase Orders</button>
            <button mat-menu-item>Invoice</button>
        </mat-menu>
        <img class="img-responsive logo" src="../assets/logo-pn.png"/>
        <span class="extra-spacer"></span>
        <form *ngIf="activateSearch"  class="form-inline my-2 my-lg-0 mr-10">
            <input class="form-control mr-sm-2" (blur)="terminateSearch()"  focus type="search" placeholder="Search" aria-label="Search">
        </form>
        <button class="mr-10" *ngIf="!activateSearch" (click)="initiateSearch()" mat-button>
            <mat-icon>search</mat-icon>
            <span>Search</span>
        </button>
        <ul class="mr-10">
            <li class="notification-container" [matMenuTriggerFor]="notificationsMenu">
                <span style="cursor:pointer;">
                        <fa name="bell" ></fa>
                        <!-- <mat-icon>add_alert</mat-icon> -->
                        <span class="notification-counter">{{notificationBadgeNumber}}</span>
                </span>
                
            </li>
        </ul>
        <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
                <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
               </mat-list>
        </mat-menu>
        <button [matMenuTriggerFor]="userMenu" mat-buttonv mat-card-avatar class="example-header-image mr-10"></button>
        <!-- <button mat-button [matMenuTriggerFor]="userMenu">Welcome {{currentUser}}</button> -->
        <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>{{currentUser}}</button>
            <button mat-menu-item>My Account</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        
    </mat-toolbar-row>
</mat-toolbar>
